@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;

}

.container {
    width: 1300px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;

    position: sticky;
    top: 0;
    z-index: 999;
}
.header-logo{
    margin: 0;
}
.navigatie {
    display: flex;
    gap: 18px;
}
.navigatie a{
    text-decoration: none;
}

/* css voor de paralax */

.paralax {
    background-image: url(../img/background_paralax.jpg);
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
