@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
}

.container {
    width: 1300px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Chewy", system-ui;
    font-size: 40px;
    color: #770000;
}

h2 {
    font-family: "Nata Sans", sans-serif;
    font-size: 30px;
    color: #770000;
}

h3 {
    font-family: "Nata Sans", sans-serif;
    color: #770000;
}

p, label{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* header */
.header-achtergrond{
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}
.header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}
.header-logo{
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.header-logo{
    margin: 0;
}
.navigatie {
    display: flex;
    gap: 18px;
}
.navigatie a{
    text-decoration: none;
    color: black;
}

/* footer */

.footer{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    top: 0;
}
.footer-logo{
    font-size: 50px;
    text-decoration: none;
    color:black ;
}
.footer-icoon i{
    margin-right: 20px;
    font-size: 60px;
    color: black;


}
.footer-openingsuren{

    max-height: 100%;
}
.openingsuren-paragraaf{
    font-weight:bold;
}
.openingsuren-paragraaf p{
    font-size: 25px;
}

.footer-logo_ondermekaar p{
    text-align: center;
}

/* contacten pagina */

.info_over{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}
.opmerking{
    text-align: center;
    padding: 50px 0;
}
/* formulier */
iframe{
    border-radius: 15px;
    box-shadow: 2px 2px 10px;
}
.div-links input{
    display: flex;
}
.text-met-map{
    margin-bottom: 20px;
}
.form-email{
    margin-top: 20px;
}
textarea{
    height: 250px;
    width: 400px;
}
.form-bericht{
    width: 100%;
    min-height: 200px;
} 
.form-buton{
    font-size: 16;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #A89574;
}
.form-buton:hover {
    box-shadow: 2px 2px 10px;
    cursor: pointer;
}
/* formulier validatie */

.error{
    color: red;
}

/* onze keuken */
.arrangement_geheel{
    margin-bottom: 200px;
}
.arrangement_container{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    gap: 2;
}
.arrangement{
    padding: 25px;
    height: 300px;
    width: 300px;
    background-color: #A89574;
    text-align: center;
    border-radius: 10px;
}
.arrangement:hover{
    box-shadow: 2px 2px 10px;
    
}
.arrangement_h1{
    text-align: center;
    padding-bottom: 40px;
}
.foto>img{
    margin-bottom: 50px;
    height: 400px;
    width: 400px;
    /* width: 90%; */
    object-fit: cover;
    border-radius: 10px;
}
.alle-foto{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1;
}
.onze_keukenh2{
    text-align: center;
    padding-bottom: 40px;
}

/* css voor de paralax */

.paralax {
    background-image: url(../img/background_paralax.jpg);
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* css homepagina hero sectie */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vh;
}

.hero_tekst {
    width: 500px;
    color: whitesmoke;
    line-height: 25px;
}

.hero_foto>img {
    width: 650px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px;
}


.btn_reserveer {
    background-color: #A89574;
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 15px;
    margin-right: 10px;
    box-shadow: 2px 2px 10px;
}


.btn_reserveer:hover {
     background-color: transparent;
    border: #A89574 solid 2px;
    color: whitesmoke;
}

.btn_prijs {
    background-color: transparent;
    border: #A89574 solid 2px;
    color: whitesmoke;
    padding: 10px 50px 10px 50px;
    border-radius: 15px;
    margin-left: 10px;
}

.btn_prijs:hover {
    background-color: #A89574;
    border: none;
    box-shadow: 2px 2px 10px;
}

/* css homepagina cards */

.card {
    width: 300px;
    height: 450px;
    background-color: #A89574;
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 2px 2px 10px;
}

.card>h2 {
    text-align: center;
    margin-bottom: 50px;
}

.card>p {
    width: 250px;
    margin: 40px auto;
}

/* css homepagina kaart belgie sectie */

.belgie {
    margin-top: 200px;
    align-items: center;
}

.tekst_kaart {
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
}

/* homepagina sfeerfotos */

.galerij {
    margin-top: 200px;
    margin-bottom: 200px;
}

.galerij>img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
}

.galerij>img:hover {
    transform: scale(1.2);
}

/* css regestratie hero sectie */

.introTekst {
    text-align: center;
    width: 900px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.introTekst>p {
    line-height: 25px;
    margin: 40px auto;
}



/* reservatie formulier */

.form {
    width: 650px;
}

.formFlex {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.input>input {
    display: flex;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px #A89574;
    padding-left: 5px;
    margin-right: 70px;
}

.input>select {
    display: flex;
    width: 120px;
    height: 30px;
    border: solid 1px #A89574;
    border-radius: 15px;
    text-align: center;
    margin-right: 20px;
}

.input>textarea {
    display: flex;
    width: 600px;
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 15px;
    border: solid 1px #A89574;
}

.formJarig {
    display: flex;
    align-items: center;
    width: 630px;
    margin: 20px 0;
    justify-content: space-between;
}

.jarig {
    width: 250px;
}

.hidden {
    width: 150px;
    display: none;
}

.hidden>input {
    width: 120px;
    height: 30px;
    border: solid 1px #A89574;
    border-radius: 15px;
    text-align: center;
}

.btn_reservatie {
    background-color: #A89574;
    margin-top: 50px;
    padding: 10px 80px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 5px;
}













