@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
}

.container {
    width: 1300px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: "Chewy", system-ui;
    font-size: 40px;
    color: #770000;
}

h2 {
    font-family: "Nata Sans", sans-serif;
    font-size: 30px;
}

h3 {
    font-family: "Nata Sans", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* header */
.header-achtergrond{
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}
.header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}
.header-logo{
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.header-logo{
    margin: 0;
}
.navigatie {
    display: flex;
    gap: 18px;
}
.navigatie a{
    text-decoration: none;
    color: black;
}

/* footer */

.footer{
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    top: 0;
}
.footer-logo{
    font-size: 50px;
    text-decoration: none;
    color:black ;
}
.footer-icoon i{
    margin-right: 20px;
    font-size: 80px;
    color: black;


}
.footer-openingsuren{

    max-height: 100%;
}
.openingsuren-paragraaf{
    font-weight:bold;
}
.openingsuren-paragraaf p{
    font-size: 25px;
}

.footer-logo_ondermekaar p{
    text-align: center;
}

/* contacten pagina */

.info_over{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}
.opmerking{
    text-align: center;
    padding: 50px 0;
}
.formulier{
    display: flex;
}



/* css voor de paralax */

.paralax {
    background-image: url(../img/background_paralax.jpg);
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* css hero sectie */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vh;
}

.hero_tekst {
    width: 500px;
    color: whitesmoke;
    line-height: 25px;
}

.hero_foto>img {
    width: 650px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px;
}


.btn_reserveer {
    background-color: #A89574;
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 15px;
    margin-right: 10px;
    box-shadow: 2px 2px 10px;
}


.btn_reserveer:hover {
     background-color: transparent;
    border: #A89574 solid 2px;
    color: whitesmoke;
}

.btn_prijs {
    background-color: transparent;
    border: #A89574 solid 2px;
    color: whitesmoke;
    padding: 10px 50px 10px 50px;
    border-radius: 15px;
    margin-left: 10px;
}

.btn_prijs:hover {
    background-color: #A89574;
    border: none;
    box-shadow: 2px 2px 10px;
}

/* css homepagina cards */

.card {
    width: 300px;
    height: 450px;
    background-color: #A89574;
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 2px 2px 10px;
}

.card>h2 {
    text-align: center;
    margin-bottom: 50px;
}

.card>p {
    width: 250px;
    margin: 40px auto;
}

/* css homepagina kaart belgie sectie */

.belgie {
    margin-top: 200px;
    align-items: center;
}

.tekst_kaart {
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
}

/* homepagina sfeerfotos */

.galerij {
    margin-top: 200px;
    margin-bottom: 200px;
}

.galerij>img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px;
}

.galerij>img:hover {
    transform: scale(1.2);
}