@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;

}
body p{
    font-size: 16px;
}

.container {
    width: 1300px;
    margin: auto;
}
/* header */
.header{
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;

    position: sticky;
    top: 0;
    background-color: whitesmoke;

}
.header-logo{
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.header-logo{
    margin: 0;
}
.navigatie {
    display: flex;
    gap: 18px;
}
.navigatie a{
    text-decoration: none;
    color: black;
}

/* footer */

.footer{
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    top: 0;
    background-color: whitesmoke;
}
.footer-logo{
    font-size: 50px;
    text-decoration: none;
    color:black ;
}
.footer-afbeeldingen img{
    padding-right: 20px;
    height: 75px;
    width: 75px;

}
.footer-openingsuren{

    max-height: 100%;
}
.openingsuren-paragraaf{
    text-align: center;
    font-weight:bold;
}


/* css voor de paralax */

.paralax {
    background-image: url(../img/background_paralax.jpg);
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}